@use "./base/mixins" as *;
@use "layout/navbar";
@use "layout/hero";
@use "layout/features";
@use "layout/journey";
@use "layout/partners";
@use "layout/news";
@use "layout/footer";


* {
    box-sizing: border-box;
}

:root {
    --neutral--600: #656565;
    --neutral--800: #121212;
    --accent--primary-1: #ff5634;
    --neutral--300: #ededed;
    --neutral--200: #fafafa;
    --neutral--100: white;
    --general--shadow-02: #10101014;
    --general--shadow-04: #10101024;
    --secondary--color-1: #e13f1f;
    --neutral--400: #cacaca;
    --general--shadow-05: #14142b29;
    --button-shadow--white-01: #1010100a;
}

body {
    position: relative;
    color: var(--neutral--600);
    font-family: 'Metropolis', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667em;
}

.container {
    @include container;
}

.text-18-20 {
    @include font(1.125rem, 1.25rem, 700);
}

.text-18-30 {
    @include font(1.125rem, 1.875rem, 400);
}

.text-20-22 {
    @include font(1.25rem, 1.375rem, 500);
}

.text-orange {
    color: var(--accent--primary-1);
}

.text-black {
    color: var(--neutral--800) !important;
}

.text-gray {
    color: var(--neutral--600);
}

h1 {
    @include font(62px, 72px, 700);
}

h2 {
    @include font(44px, 54px, 700);
}

h3 {
    @include font(1.75rem, 2.5rem, 700); // 28px, 40px
}

h4 {
    @include font(1.5rem, 2.125rem, 700); // 24px, 34px
}

h5 {
    @include font(1.125rem, 1.5rem, 700); // 18px, 24px
}


.subtitle {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: .5rem;
}



.main-btn {
    @include button-base;
    border: 1px solid var(--accent--primary-1);
    background-color: var(--accent--primary-1);
    color: var(--neutral--100);
    text-align: center;
    font-weight: 700;
    transition: color .3s, background-color .3s, border-color .3s;

    &:hover {
        background-color: var(--secondary--color-1);
        border-color: var(--accent--primary-1);
    }
}

.secondary-btn {
    @include button-base;
    border: 1px solid var(--neutral--300);
    background-color: var(--neutral--100);
    color: var(--neutral--800);
    box-shadow: 0 2px 6px 0 var(--button-shadow--white-01);
    text-align: center;
    font-weight: 500;
    transition: border-color .3s, background-color .3s, color .3s;

    &:hover {
        background-color: var(--accent--primary-1);
        color: var(--neutral--100);
        border-color: var(--accent--primary-1);
    }
}

.custom-btn {
    border: 1px solid var(--accent--primary-1);
    background-color: var(--accent--primary-1);
    color: var(--neutral--100);
    text-align: center;
    border-radius: 16px;
    justify-content: center;
    padding: 26px 38px;
    font-weight: 700;
    line-height: 1.111em;
    text-decoration: none;
    transition: background-color .3s;
    &:hover {
        background-color: var(--secondary--color-1);
    }
}
