@use "../base/mixins" as *;

.hero {
    padding-bottom: 5rem;
    background-color: var(--neutral--200);
}

.hero-container {
    @include container;
    padding: 1.5rem 0;
    color: var(--neutral--800);
    height: 100vh;
}

.left-hero {
    width: 52%;
}

.right-hero {
    width: 43.2%;
    position: relative;
}

/* Left Image */
.left-image {
    max-width: 45%;
    position: absolute;
    bottom: 105px;
    left: -18px;
    animation: float 6s ease-in-out infinite;

    img {
        box-shadow: 0 14px 42px 0 var(--general--shadow-04);
        border-radius: 16px;
    }
}

/* Right Image */
.right-image {
    max-width: 55%;
    position: absolute;
    bottom: 30px;
    right: -52px;
    animation: floatReverse 7s ease-in-out infinite;

    img {
        box-shadow: 0 14px 42px 0 var(--general--shadow-04);
        border-radius: 8px;
    }
}

/* Numbers Container */
.nu-container {
    @include container;
    margin-top: 2rem;
    display: grid;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    grid-template-columns: repeat(4, 1fr);
}

.number,
.sign {
    @include font(56px, 66px, 700);
}

@media screen and (max-width: 1200px) {
    .left-hero,
    .right-hero {
        width: 100%;
    }

    .left-image,
    .right-image {
        position: relative;
        max-width: 80%;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: auto;
    }
}

@media screen and (min-width: 1920px) {
    .hero-container {
        max-height: 820px;
    }
}

