.news-section {
    width: 100%;
    padding: 10rem 0;
    background-color: var(--neutral--200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-cards-container {
    width: 100%;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.8rem;
}

.arrow-icon {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    padding: 0 0 0.25rem 0.1rem;
    transition: transform 0.3s;
}

.news-card {
    padding: 98px 66px;
    text-decoration: none;
    border: 1px solid var(--neutral--300);
    background-color: var(--neutral--100);
    box-shadow: 0 2px 12px 0 var(--general--shadow-02);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 2px 12px 0 var(--general--shadow-05);
        transform: translateY(-0.5rem);

        .arrow-icon {
            transform: translate(0.25rem, -0.25rem);
        }
    }
}

@media (max-width: 1200px) {
    .news-cards-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 768px) {
    .news-cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .news-card {
        padding: 70px 40px;
    }
}

@media (max-width: 480px) {
    .news-card {
        padding: 50px 24px;
        border-radius: 16px;
    }
}
